# --- .NET / Visual Studio / Rider ---
bin/
obj/
.vs/
.idea/
*.user
*.suo
*.shellbuffer
appsettings.Development.json

# --- React / Node ---
node_modules/
.angular/
dist/
.vscode/
.env
npm-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local
*.g.props

# --- OS specifikus ---
.DS_Store
Thumbs.db